.warning {
  margin: 10px;
  display: flex;
  align-items: flex-start;
  padding: 10px;
  border-radius: 4px;
  flex-wrap: wrap;
  word-break: break-word;
  font-size: 14px;
  width: 95%;
  mat-icon {
    margin-right: 8px;
    color: inherit;
    flex-shrink: 0;
  }
}

.warning-accept {
  background-color: #e8f5e9;
  color: #2e7d32;
}

.warning-reject {
  background-color: #ffebee;
  color: #c62828;
}

.warning-change {
  background-color: #e8eaf6; // Light indigo
  color: #3f51b5; // Indigo
}

@media (max-width: 600px) {
  .warning {
    font-size: 13px;
    padding: 8px;
    flex-direction: column;
    align-items: flex-start;

    mat-icon {
      margin: 0 0 6px 0;
    }
  }
}
